@font-face {
    font-family: 'MyFont';
    src: url("../../assets/Disruptor's Script.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

.header {
    padding: 1rem;
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh; 
    width: 200px; 
    z-index: 100;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.logo {
    margin-top: 2rem;
    
    color: lightgray;
    font-weight: bolder;
    font-size: 3rem;
}

.logoImage {
    height: 50px; 
    width: auto; 
    display: block; 
}



.logo h1 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.navList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 2rem;
    margin: -3rem 0 0;

}

.navLink {
    text-decoration: none;
    color: lightgray;
    font-weight: 500;
    cursor: pointer;
}

.navLink:hover {
    color: white;
}